* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  ::selection {
    background-color: green;
    color: rgb(236, 230, 230);
  }
  body {
    font-family: "Montserrat", sans-serif;
    /* background: #A7CF40; */
    /* height: 10000px; */
  }
    /*####################### header Start #######################*/

    header{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 100px;
        transition: 0.5s ease;
    }
    header.sticky{
        background: white;
        padding: 10px 100px;
        box-shadow: 0 2px 5px black;
        z-index: 1;
    }
    header.sticky .logo{
        color: #111;
    }
    header .logo{
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        color: rgb(235, 6, 6);
    }
    header .logo span{
      color: green;
    }

    header nav ul{
        position: relative;
        display: flex;
        right: 320px;
    }
    header nav ul li{
        margin-left: 20px;
    }
    header nav ul li a{
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        text-transform: capitalize;
        color: rgb(241, 221, 221);
       
    }
    header.sticky nav ul li a{
        color: #111;
    }
    header nav ul li a:hover{
        color: darkorange;
        
    }
    /******* Icon menu**********/
nav label #open,
nav label #close {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
 /*************** banner section ***********/
 .banner{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img.pizza/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */

 }
 .banner .container{
    text-align: start ;
    width: 900px;
 }
 .banner .container h2{
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 200px;
 }
 .banner .container p{
    color: rgb(233, 30, 3);
    font-size: 30px;
    width: 40%;    
 }
 .btn{
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: darkorange;
    padding: 10px 20px;
    transition: 1s ease;
    border-radius: 20px 80px;
 }
 .btn:hover{
    /* scale: 1,2; */
    color:white;
    background: rgba(0, 128, 0, 0.466);
    border: #111 solid 1px;
 }

     /*####################### about Start #######################*/
section{
    padding: 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slid{
    pad: 0px 20px;
    width: 50%;
}
.row .slid p{
    font-size: 18px;
    line-height: 50px;
}
.row .slid .h_txt{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: green;
}
.row .slid span{
    color: rgb(223, 7, 7);
}

.row .slid .img_box{
    width: 100%;
    height: 90%;

}
.row .slid .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60%;
}

/*************** start menu ***********/

.title{
    width: 100%;
    text-align: center;
}
.title span{
    color: rgb(226, 4, 4);
}
.title .h_txt{
    font-weight: 700;
    font-size: 35px;
    color: green;
}
.title p{
    font-size: 20px;
    font-weight: 500;
}
.menu .container{
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 8PX;
  /* padding: 0px 40px 0px 40px; */
}
.menu .container .box{
    width: 384px;
    margin: 20px;
    border: 15px solid white;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
}
.menu .container .box .imgbox{
    position: relative;
    width: 100%;
    height: 300PX;
    overflow: hidden;
   
    
}
.menu .container .box .imgbox img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s ease;
} 
.menu .container .box .imgbox img:hover{
    transform: scale(1.1) rotate(5deg) ;
}
.menu .container .box .text{
    padding: 20px;
}
.menu .container .box .text h3{
    font-weight: 600;
    font-size: 20px;
}
.menu .btn{
    margin-left: 480px;
    width: 201px;
    height: 48px;
    font-size: 18px;
    padding: 17px 40px;
    text-decoration: none;
    
}

/*************** start staff ***********/
.staff{
    background: #efefef;
}
.staff .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.staff .container .box{
    width: 250px;
    margin: 15px;
}
.staff .container .box .imgbox{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.staff .container .box .imgbox img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s ease;
    cursor: pointer;
}
.staff .container .box .imgbox img:hover{
    transform: scale(1.1);
}
.staff .container .box .text h3{
    font-size: 20px;
    padding-top: 20px;
    font-weight: 600;
}

    /*####################### feedback Start #######################*/

    .feedback{
        background: url(./img.pizza/fresco-pizza-top.jpg);
        background-size: cover;
        background-attachment: fixed;
         background-repeat: no-repeat;   
    }
    .feedback .title p{
        color: white;
    }
    .feedback .container{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .feedback .container .box{
        width: 340px;
        margin: 20px;
        padding: 40px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .feedback .container .box .imgbox{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
    }
    .feedback .container .box  .text{
        padding: 20px;
        text-align: center;
    }
    .feedback .container .box  .text p{
      color: #666;
      font-style: italic;
    }
    .feedback .container .box  .text h3{
        font-size: 20px;
        font-weight: 600;
        color: darkorange;
        margin-top: 20px;
    }

    /*####################### contact Start #######################*/

    .contact{
        background: url(./img.pizza/contact2.jpg);
        background-size: cover;
        background-attachment: fixed;
         background-repeat: no-repeat;  
    }
    .contact .title .h_txt {
        font-size: 50px;
    }
     .contact_form{
        padding: 75px 50px;
        background: #ffffff88;
        box-shadow: 0 15px 35px rgb(0,0,0,0,2);
        max-width: 500px;
        margin-top: 50px;
        border-radius: 30%;
    }
    .contact_form h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    } 
    .contact_form .inputbox{
        width: 100%;
        margin-bottom: 20px;
    }
     .contact_form .inputbox input,
    .contact_form .inputbox textarea{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: 300;
        border: none;
        outline: none;
        border-bottom: 1px solid #111111b6;
        resize: none;
    }
    .contact_form .inputbox input[type="submit"]{
        background: darkorange;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        text-transform:uppercase ;
        font-weight: 500;
        letter-spacing: 2px;
        border: none;
        width: 100px;
        padding: 10px 20px;
        transition: 0.4s ease;
        border-radius: 20px 80px;
    }
    .contact_form .inputbox input[type="submit"]:hover{
        transform: scale(1.1);
        color:white;
        background: rgba(0, 128, 0, 0.466);
    }

        /*####################### footer Start #######################*/
    .footer_container{
        padding: 50px 0;
        background: #222;
        color: #fff;
        display: flex;
        justify-content: center;
    }
    .footer_container .box{
        width: 300px;
        padding: 0px 20px;
    }
    .footer_container .box h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .footer_container .box i{
        font-size: 25px;
        margin-right: 10px;
        color: darkorange;
        transition: 0.3s ease;
    }
    .footer_container .box i:hover{
        transform: scale(1.7);
        color: #fff;
    }
    .credit{
        background: #111;
        padding: 20px 0px;
        text-align: center;
        color: #fff;
    }
    .credit a{
        color: darkorange;
        text-decoration: none;
    }
    
    /* """""""""""""""""""""" */
#bt{
    width: 40px;
    height: 40px;
    background-color: rgb(209, 12, 6);
    border: none;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius:  70% 30%;
    display: none; 
    z-index: 1;
    color:rgb(133, 223, 133);
}

#bt i {
   font-size: 20px;
}

 /* """""""""""""""""""""" */